extends layout

block content
  div(id="splash")
    div(class="container-fluid" style="text-align:center;")
      h1(style="margin-top:150px;")= "Unofficial 2015 Incident Map"
      p= "During Unofficial 2015, Champaign, Urbana and University police officers issued 138 citations, according to data received from the police departments. Incidents on this map are indicated by red circles that are proportionally sized to the number of incidents that occurred in a location."
      a(href="/map" role="button")
        button(type="button" class="btn btn-primary btn-lg")= "View our map"